DTO/GUI/Connected Services/ServiceReference1/WCF_SV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSV_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SV_DTO" nillable="true" type="tns:SV_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSV_DTO" nillable="true" type="tns:ArrayOfSV_DTO" />
  <xs:complexType name="SV_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="gioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maSV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namNhapHoc" type="xs:int" />
      <xs:element minOccurs="0" name="tenSV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SV_DTO" nillable="true" type="tns:SV_DTO" />
</xs:schema>