DTO/GUI/Connected Services/ServiceReference1/WCF_SV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Wcf_SV/WCF_SV.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="getAllSV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getAllSVResult" nillable="true" type="q1:ArrayOfSV_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sv" nillable="true" type="q2:SV_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themSVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sv" nillable="true" type="q3:SV_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suaSVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xoaSVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>